{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1 class="mb-4 text-center">Вход</h1>

    {% if form.errors %}
        <div class="alert alert-danger mx-auto" style="max-width: 600px;">
            Неверный логин или пароль.
        </div>
    {% endif %}

    <form method="post" class="news-card mx-auto" style="max-width: 600px;">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">
                Имя пользователя
            </label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="mb-4">
            <label for="{{ form.password.id_for_label }}" class="form-label">
                Пароль
            </label>
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">
                Войти
            </button>
        </div>
    </form>
{% endblock %}